extends layout.pug

block content
    h2.sub-title Adding a Schedule
    div.align-right
        button(class="my-button-2" onclick="move()") - Check Schedules
                script.
                    function move() {
                        window.location.href = '/';
                    }
    form(method="POST" action="../schedules/new")
        div.add
            div.form
                div
                    label(for="username") Username
                input(type="text" name="username" id="username")
            div.form
                div
                    label(for="dayOfWeek") Day
                select(id="dayOfWeek" name="dayOfWeek")
                    option(value="1") Monday
                    option(value=2) Tuesday
                    option(value=3) Wednesday 
                    option(value=4) Thursday 
                    option(value=5) Friday
                    option(value=6) Saturday 
                    option(value=7) Sunday
            div.form
                div
                    label(for="start_at") Starting time
                input(type="time" name="start_at" id="start_at") 
            div.form   
                div 
                    label(for="end_at") Ending time
                input(type="time" name="end_at" id="end_at") 
            button(type="submit" class="form-button") Send
        